.appHeader {
  background-color: #492E8E;
  min-height: 30vh;
  font-size:1.3rem;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 1em;
  margin-top: 1rem;
}

.questionHeader{
  font-size: 1.8rem;
  color: white;
}


.loadText{
  margin-left: 30%;
  font-size: 3rem;
}
.App {
  text-align: center;
}

/* Description from News API */
.newscontent {
  display: flex;
  justify-content: column;

}
/* Article button choices */

.ButtonSize{
height: 13vh;
width: 58%;
transition: all 0.8s ease;
}

.ButtonSize:hover{
transform: scale(1.1,1.1);
transition: all 0.2s ease-in;
}
.imgSize{
width: 30vh;
}

/*Animations Button*/
.zoom-button .btn{
  transition: transform .2s;
  box-shadow: 0
}
.zoom-button:hover .btn{
  transform: scale(1.1); 
}
.transition .btn{
  background-color: #011627;
  color: #FF9F1C;
  font-size : 3vh;
  font-weight : bold;
  text-transform: uppercase;
  width: 40vh;
  margin-top: 2rem;
  height: 5rem;
  box-shadow: 5px 5px 2.5px #999;
}
.transition:hover .btn{
  background-color: #FF9F1C;
  color: #011627;
  border: 1px solid #011627;
}
/*Home Page*/
.card-support h1{
  text-transform: uppercase;
  font-weight: bold;  
}
.card-support head{
  background-color: #011627;
} 

.input-container{
  border-radius: 10px;
  margin-top:2rem;
  width: 40vh;
  height: 5vh;
  border: 3px solid #FF9F1C;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color:#011627;
}


/*Categories Choice*/
.category .btn {
  background-color: #FDFFFC;
  border: 2px solid #011627;
  color : #011627;
  box-shadow: 0 8px 7px #999;
  font-weight : bold;
  text-transform: uppercase;
  transition-duration: unset;
  transition: transform 2s;
}
.category:hover .btn{
  background-color: #FF9F1C;
  color:#011627;
  border: 6px solid #011627;  
}
.category:active .btn{
  border: 2px solid #FF9F1C;
}
.category:active .btn{
  background-color: #FF9F1C; 
  box-shadow: 0 4px #666;
  transform: translateY(8px);
} 

.title{
  color: #011627;
  font-weight : bold;
  text-transform: uppercase;
  border-radius: 5px;
  height: 6vh;
  text-align: left;
}
.card-support{
  margin-top: 2rem;
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  background-color: #FDFFFC;
  border-radius: 10px;
  box-shadow: 1px 2.5px 5.5px 2.5px #011627;
}

/*ArticleChoice */
.simple-button .btn{
  background-color: #FDFFFC;
  border: 2px solid #011627;
  color : #011627;
  box-shadow: 0 8px 7px #999;
  font-weight : bold;
}
.simple-button:hover .btn{
  background-color: #FDFFFC;
  color:#011627;
  border: 2px solid #011627;  
}