.btn{
  width: 100%;
  min-height: 15vh;
  max-height: 25vh;
  margin-top: 1rem;
  margin-bottom: 0,5rem;
}
/* fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* app general style*/
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  }
/* Home page style*/
.home-page-header{
  height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #011627;
  border: solid 3px #FF9F1C;
  border-radius: 0px;
  font-size: 3rem;
  font-weight: bold;
  color: #FF9F1C;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home-page form{
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 5vh;
}

.home-page input{
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-left-color: red;
  border-left-width: 5px;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.home-page Button{
  max-width: 30vw;
  background-color: #011627;
  border: solid 3px #FF9F1C;
  border-radius: 0px;
  font-size: 2rem;
  font-weight: bold;
  color: #FF9F1C;
}

.home-page .suspense{
  font-size: 2rem;
}




.appHeader {
  background-color: #492E8E;
  min-height: 30vh;
  font-size:1.3rem;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
  border-radius: 10px;
  padding: 1em;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
 }

.loadText{
  margin-left: 30%;
  font-size: 3rem;
}
.App {
  text-align: center;
}

/*anwser buttons css*/
.button-answer .btn{
  background-color: #FDFFFC;
  border: 2px solid #011627;
  color : #011627;
  box-shadow: 0 8px 7px #999;
  font-weight : bold;
  text-transform: uppercase;
  font-size: 3vh;
}

/* Description from News API */
.newscontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  }

.article-title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.container-news {
  background-color: #FF9F1C;
  border-radius: 10px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.imgSize{
  width: 25vh;
  border-radius: 10px;
  border: 2px solid #011627;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  }

/* Article button choices */

.ButtonSize{
height: 10vh;
width: 48%;
transition: all 0.8s ease;
}

.ButtonSize:hover{
transform: scale(1.1,1.1);
transition: all 0.2s ease-in;
}

.negative .btn{
  background-color: #FDFFFC;
  color: #011627;
  border: 2px solid #011627;
  font-size : 2vh;
  font-weight : bold;
  text-transform: uppercase;
  width: 30vh;
  margin-top: 2rem;
  box-shadow: 5px 5px 2.5px #999;
}
.negative:hover .btn{
  background-color: #FDFFFC;
  color: #011627;
  border: 2px solid #011627;
}

.positive .btn{
  background-color: #011627;
  color: #FF9F1C;
  border: 2px solid #011627;
  font-size : 3vh;
  font-weight : bold;
  text-transform: uppercase;
  width: 30vh;
  margin-top: 2rem;
  box-shadow: 5px 5px 2.5px #999;
}
.positive:hover .btn{
  background-color: #011627;
  color: #FF9F1C;
  border: 2px solid #011627;
}

/*Animations Button*/
.zoom-button .btn{
  transition: transform .2s; 
  font-size: 0.8rem
}
.zoom-button .btn:hover{
  transform: scale(1.1); 
}
.transition .btn{
  background-color: #011627;
  color: #FF9F1C;
  font-size : 3vh;
  font-weight : bold;
  text-transform: uppercase;
  max-width: 40vh;
  margin-top: 2rem;
  box-shadow: 5px 5px 2.5px #999;
  min-height: 12vh !important;
}
.transition .btn:hover{
  background-color: #FF9F1C;
  color: #011627;
  border: 1px solid #011627;
}
/*Home Page*/
.lyrics{
  border: 2px solid #FF9F1C;
  background-color: #FDFFFC;
  border-radius: 40px;
  padding: 1.5rem 2rem;
}
@media (min-width: 768px){
.lyrics:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 30px solid transparent;
  border-left-color: #FF9F1C;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -15px;
  }
}

.lyrics h4{
  font-size: 2vh;
  text-align: left;
  padding-top: 0.8rem;
}

.card-support h1, .card-support h3{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4vh;  
}
.card-support head{
  background-color: #011627;
} 

.input-container{
  border-radius: 10px;
  margin-top:2rem;
  width: 100%;
  height: 7vh;
  border: 3px solid #FF9F1C;
  font-size: 18px;
  padding-left: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color:#011627;
}


/*Categories Choice*/
.category .btn {
  background-color: #FDFFFC;
  border: 2px solid #011627;
  color : #011627;
  box-shadow: 0 8px 7px #999;
  font-weight : bold;
  text-transform: uppercase;
  transition-duration: unset;
  transition: transform 2s;
  min-height: 20vh !important;
  overflow-wrap: break-word;
}
.category:hover .btn{
  background-color: #f9c886;
  color:#011627;
  border: 6px solid #011627;  
}
.category:active .btn{
  border: 2px solid #FF9F1C;
}
.category:active .btn{
  background-color: #FF9F1C; 
  box-shadow: 0 4px #666;
  transform: translateY(8px);
}
.custom .btn{
  background-color: #FDFFFC;
  border: 2px solid #011627;
  color : #011627;
  box-shadow: 0 8px 7px #999;
  font-weight : bold;
  text-transform: uppercase;
  transition-duration: unset;
  transition: transform 2s;
  min-height: 15vh !important;
}
.custom:hover .btn{
  background-color: #FF9F1C;
  color:#011627;
  border: 6px solid #011627;  
}

.title{
  color: #011627;
  font-weight : bold;
  text-transform: uppercase;
  border-radius: 5px;
  height: 6vh;
  text-align: left;
}
.card-support{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #FDFFFC;
  border-radius: 10px;
  box-shadow: 1px 2.5px 5.5px 2.5px #011627;
}

.newsPictures{
  max-width: 80%;
  height: 6rem;
  overflow: hidden;
  border: 2px solid #011627;
  color : #011627;
  border-radius: 10px;
}
.newsText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.readMeButton{
  border: 2px solid #FF9F1C;
  color: white;
  background-color: #011627;
  border-radius: 5px;
  height: 3rem;
  width: 7rem;
  color: white;
}
.card-support h3{
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.zoom-button .category-chosen{
  background-color: orange;
  
}
/*Using card-support attributes + text align left in homepage for app description*/
.app-description{
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #FDFFFC;
  border-radius: 10px;
  box-shadow: 1px 2.5px 5.5px 2.5px #011627;
  text-align: left;
}

.animated-rick{
  width: 200px;
  height: auto;
}

.spinner {
  margin-top: 50vh;
}

.newsContainer .container{
  padding-left: 0px;
  padding-right: 0px;
} 

.new-player .btn
{
 Color: #011627;
 background-color: #FDFFFC;
  font-size : 3vh;
  font-weight : bold;
  text-transform: uppercase;
 width: 25vh;
  margin-top: 1rem;
  min-height: 12vh !important;
}

